* {
    padding: 17px 0;
    border-bottom: 1px solid #000;
}
* .image {
    margin-top: 15px;
}
* .image > img {
    width: 51px;
    height: 51px;
    display: block;
}

* .user > a.name {
    color: #336599;
    font-weight: bold;
    text-decoration: underline;
}
* .user > a.name:hover {
    text-decoration: none;
}
* .user > .date {
    color: #333333;
}

* a.message {
    display: block;
    text-decoration: none;
    overflow: hidden;
    color: #333333;
}

* .message {
    padding: 15px 13px;
    background: #fefefe;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}
* .message > .title {
    color: #CB6500;
    font-weight: bold;
    margin-bottom: 7px;
}
* .message.own {
    background: #C4DE9B;
}