* {
    position: relative;
    display: inline-block;
}
*.managed:hover {
    outline: 1px dotted rgba(127,200,230,0.5);
}
*.managed > .manage-control {
    position: absolute;
    left: 100%;
    right: 0;
    white-space: nowrap;
}