* {
    background: #000;
    padding: 25px 0 35px 0;
}
* > .container {
    position: relative;
    min-height: 300px;
}
* > .container > .row {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
* > .container > .bottom {
    position: absolute;
    bottom: 0;
    left: 600px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}