* {
    height: 41px;
}
* > .navbar {
}

* > .navbar > .navbar-inner > .container > .nav > li > a {
    color: #330000;
}
* > .navbar > .navbar-inner > .container > .nav > li > a:hover {
    text-decoration: underline;
}
* > .navbar > .navbar-inner > .container > .nav > li > a.user-name {
    text-decoration: none;
}
* > .navbar > .navbar-inner > .container > .nav > li > a.user-name b {
    border-bottom: 1px dotted #330000;
    line-height: 12px;
    display: inline-block;
}
* > .navbar > .navbar-inner > .container > .nav > li > a.user-name b:hover {
    border-bottom: 0;
}

* > .navbar > .navbar-inner > .container > .nav > li > a.sign-out {
    text-decoration: none;
    color: #CB0000;
}
* > .navbar > .navbar-inner > .container > .nav > li > a.sign-out i {
    margin-right: -2px;
}
* > .navbar > .navbar-inner > .container > .nav > li > a.sign-out b {
    border-bottom: 1px dotted #CB0000;
    line-height: 12px;
    display: inline-block;
}
* > .navbar > .navbar-inner > .container > .nav > li > a.sign-out b:hover {
    border-bottom: 0;
}

* .badge.over {
    margin-left: -8px;
}

* [class^="icon-"],
* [class*=" icon-"] {
    width: 18px;
    height: 18px;
    line-height: 18px;
    background-image: url("<?=$c->res('icon.png')?>");
    background-repeat: no-repeat;
    margin-top: -1px;
    margin-bottom: -3px;
}

* .icon-envelope {
    background-position: 0 0;
}
* .icon-user {
    background-position: -18px 0;
}
* .icon-cog {
    background-position: -36px 0;
}
* .icon-exit {
    background-position: -54px 0;
}