* {
    display: inline-block;
}
* > a {
    position: relative;
    min-width: 98px;
    min-height: 84px;
    background: url("<?=$c->res('logo.png')?>") no-repeat;
    display: block;
    text-decoration: none;
    color: #000;
    text-shadow: none;
    padding: 30px 0 0 100px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
* > a > h1 {
    font-size: 9px;
    line-height: 9px;
    display: block;
}
* > a > h1 > b {
    display: block;
    font-size: 25px;
    line-height: 25px;
    white-space: nowrap;
    margin: 0 0 0 -2px;
    letter-spacing: -1px;
}


*.medium > a {
    min-width: 86px;
    min-height: 73px;
    background-image: url("<?=$c->res('logo-medium.png')?>");
    padding: 17px 0 0 91px;
}
*.inverse * {
    color: #CBCBCB;
}
