* {
    border-bottom: 1px solid #B3B3B3;
    border-top: 1px solid #B3B3B3;
    background: url("<?=$c->res('shadow-top.png')?>") no-repeat center top,
                url("<?=$c->res('shadow-bottom.png')?>") no-repeat center bottom;
    position: relative;
    padding: 10px 0 35px 0;
}
* > .box {
    position: relative;
}
* > .box > .inner {
    margin: 0 61px;
    overflow: hidden;
}
* > .box > .inner > ul {
    list-style: none;
    display: table;
    padding: 0;
    margin: 0;
}
* > .box > .inner > ul > li {
    display: table-cell;
    padding: 0 9px;
    margin: 0;
}
* > .box > [class^="arrow-"],
* > .box > [class*=" arrow-"] {
    width: 12px;
    height: 15px;
    background: url("<?=$c->res('arrow.png')?>") no-repeat;
    margin: -6px 0 0 0;
    position: absolute;
    top: 50%;
}
* > .box > .arrow-left {
    left: 24px;
}
* > .box > .arrow-right {
    background-position: -12px 0;
    right: 24px;
}
* > .control-buy {
    position: absolute;
    right: 13px;
    bottom: 4px;
}
* > .control-buy > a {
    text-decoration: none;
    border-bottom: 1px dotted #3399FF;
    color: #3399FF;
    font-size: 12px;
}
* > .control-buy > a:hover {
    border-bottom: 1px solid transparent;
}

* > .control-slide {
    position: absolute;
    left: 20px;
    bottom: 4px;
}
* > .control-slide > a {
    font-size: 11px;
    color: #999999;
    border-bottom: 1px solid transparent;
}
* > .control-slide > a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #999;
}
* > .control-slide > .caret {
    vertical-align: baseline;
}
* > .control-slide > .caret.down {
    border-top: 4px solid #999;
    border-bottom: 0;
}
* > .control-slide > .caret.up {
    border-bottom: 4px solid #999;
    border-top: 0;
}
