* {
    position: relative;
    width: 100px;
}
* > .image {
    margin: 0 0 15px 0;
}
* > .image > a {
    display: block;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    outline: 0;
    width: 100px;
    height: 100px;
}
* > .image > a > img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    display: block;
}
* > .description {
    color: #656565;
}
* > .description > a {
    color: #656565;
}



