
.label,
.badge {
    font-size: 10px;
    line-height: 17px;
}

.badge {
    display: inline-block;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    height: 17px;
    min-width: 17px;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
    border: 1px solid #FFFFFF;
    margin-top: -1px;
    margin-bottom: -1px
}

.label-important,
.badge-important {
    background-color: #CB0000;
}

