
body {
    font-size: 12px;
}


h3 {
    font-size: 24px;
    font-weight: normal;
    color: #CB6500;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
}
h4 {
    font-size: 20px;
    font-weight: normal;
    color: #cc6600;;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
}
