
.modal {
    width: 390px;
    margin-left: -195px;
    outline: 0;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
       -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.modal-header > .close {
    width: 20px;
    height: 20px;
    background: #999;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    color: #666;
    text-shadow: none;
    line-height: 16px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 7px;
    right: 7px;
    margin: 0;
}
.modal-header > .close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.modal-header > h3 {
    font-size: 24px;
    font-weight: normal;
    color: #CB6500;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
}

.modal-header,
.modal-body,
.modal-footer {
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    background: transparent;
}
.modal-header {
    padding-top: 30px;
}
.modal-body {
    padding-top: 10px;
    padding-bottom: 5px;
}
.modal-footer {
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: left;
}


.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.7;
    filter: alpha(opacity=70);
}