
.navbar-inner {
    background-color: #FFB436;
    background-image: -moz-linear-gradient(top, #ffcc66, #ff9900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffcc66), to(#ff9900));
    background-image: -webkit-linear-gradient(top, #ffcc66, #ff9900);
    background-image: -o-linear-gradient(top, #ffcc66, #ff9900);
    background-image: linear-gradient(to bottom, #ffcc66, #ff9900);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffcc66', endColorstr='#ffff9900', GradientType=0);
    border: 0;
}

.navbar .divider-vertical {
    margin-left: 0;
    margin-right: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 0;
}

.navbar .nav > li > a {
    color: #330000;
    text-shadow: none;
}