
.nav-tabs {
    border-bottom: 2px solid #FFF8E7;
}
.nav-tabs > li {
    margin-bottom: -2px;
}

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    color: #CB6500;
    font-size: 12px;
    text-decoration: underline;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
    text-decoration: none;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    color: #CB6500;
    cursor: default;
    background-color: #FFF8E7;
    border: 0;
    border-bottom-color: transparent;
    font-weight: bold;
    text-decoration: none;
}