* {
    position: relative;
}

* ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
* li {
    margin: 0;
    padding: 0;
    display: block;
    line-height: 20px;
}
* ul.vertical > li > a {
    font-weight: bold;
    font-size: 12px;
    color: #CB6500;
    text-decoration: none;
}
* ul.vertical > li.line {
    border-top: 1px solid #F7921D;
    padding: 3px 0;
}
* ul.vertical > li.line > a {
    display: block;
}
* ul.vertical > li.line > a:hover {
    text-decoration: underline;
}
* ul.vertical > li.line.hide {
    display: none;
}
* ul.vertical > li.line:first-child {
    border-top: 0;
}

* ul.vertical > li.panel {
    margin: 1px 0 0 -5px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.21);
       -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.21);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.21);
    padding: 3px 20px 10px 5px;
    display: table;
}
* ul.vertical > li.panel.hide {
    display: none;
}
* ul.vertical > li.panel > a {
    border-bottom: 1px dashed #F7921D;
}
* ul.vertical > li.panel > a:hover {
    border-bottom: 1px solid transparent;
}
* ul.vertical > li.panel > .sub-panel {
    display: table;
    margin-top: 7px;
}
* ul.vertical > li.panel > .sub-panel > ul.cell {
    display: table-cell;
    padding-left: 20px;
}
* ul.vertical > li.panel > .sub-panel > ul.cell > li {
    white-space: nowrap;
}
* ul.vertical > li.panel > .sub-panel > ul.cell > li > a {
    text-decoration: underline;
    color: #656565;
    font-size: 12px;
}
* ul.vertical > li.panel > .sub-panel > ul.cell > li > a:hover {
    text-decoration: none;
}
* ul.vertical > li.panel > .sub-panel > ul.cell > li > .counter {
    background: #999999;
    color: #000;
    font-size: 10px;
    width: 30px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    line-height: 12px;
    margin-right: 5px;
}



