* {
    position: relative;
    display: inline-block;
}
*.managed:hover {
    outline: 1px dotted rgba(127,230,200,0.5);
}
*.managed > .manage-control {
    position: absolute;
    top: 0;
    left: 100%;
}