* > .container {
    position: relative;
    min-height: 115px;
}
* > .container > .logo {
    position: absolute;
    top: 25px;
    left: 0;
}
* > .container > .link {
    position: absolute;
    top: 25px;
    left: 350px;
}
* > .container > .forum {
    position: absolute;
    top: 17px;
    right: 40px;
}
* > .container > .forum > .btn {
    border-color: #0065CB;
}

* > .container > .sign-in {
    position: absolute;
    top: 17px;
    right: 170px;
}
* > .container > .sign-in > .btn {
    border-color: #FFB940;
}

* > .container > .search {
    position: absolute;
    bottom: 0;
    right: 0;
}


