

* {
    height: 50px;
    width: 100%;
    background: #FFF8E7;
}
* > ul {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0 135px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
* > ul > li > a,
* > ul > li > span {
    background: transparent;
    color: #CB6500;
    font-weight: bold;
    font-size: 14px;
    text-shadow: -2px 2px 1px rgba(255,255,255,0.75);
    border: 0;
    padding: 0 11px;
    line-height: 50px;
}
* > ul > li.active > a,
* > ul > li.active > span,
* > ul > li:hover > a,
* > ul > li:hover > span {
    background: transparent;
}

* > ul > li:first-child {
    position: absolute;
    left: 30px;
    top: 0;
    padding-left: 25px;
    background: url("<?=$c->res('arrow-left.png')?>") no-repeat left center;
}
* > ul > li:last-child {
    position: absolute;
    right: 30px;
    top: 0;
    padding-right: 25px;
    background: url("<?=$c->res('arrow-right.png')?>") no-repeat right center;
}
* > ul > li:first-child.disabled {
    background-image: url("<?=$c->res('arrow-left-disabled.png')?>");
}
* > ul > li:last-child.disabled {
    background-image: url("<?=$c->res('arrow-right-disabled.png')?>");
}

* > ul > li:first-child > a,
* > ul > li:first-child > span,
* > ul > li:last-child > a,
* > ul > li:last-child > span {
    color: #000;
    padding: 0;
}
* > ul > li:first-child.disabled > a,
* > ul > li:first-child.disabled > span,
* > ul > li:last-child.disabled > a,
* > ul > li:last-child.disabled > span {
    color: #999;
}

